<br />
<nav class="navbar navbar-expand-sm">
  <ul class="navbar-ul">
    <li class="nav-item">
      <button (click)="crear()" class="btn btn-info">+1</button>
    </li>
    <br/>

    <li class="nav-item">
      <button (click)="analiticas()"  class="btn btn-danger">Analiticas</button>
    </li>
    <br/>
    <li class="nav-item">
      <button (click)="logOut()"  class="btn btn-warning">Cerrar Sesion</button>
    </li>
  </ul>
</nav>
<br/>

 <br/> 

 <div class="container">
<div class="card">
    <div class="card-body">  
<h2 class="text-center">Lista de los articulos</h2>
<table class="table table-striped"> 
        <thead class="table-dark">
        <tr>
            <th>Cod_Barras</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articulo of articulos">
          <th>{{articulo.cod_barras}}</th>
          <th>{{articulo.descripcion}}</th>
          <td>
            <button (click)="actualizarArticulo(articulo.cod_barras)" class="btn btn-info">Actualizar</button>
            <button (click)="eliminarArticulo(articulo.cod_barras)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
